[Unit]
Description=Discord JS Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/srv/Medusa-Rewritten/start-bot.sh
#RemainAfterExit=yes
Restart=always
RestartSec=120000ms
StartLimitInterval=0
User=tim
ExecStart=/srv/Medusa-Rewritten/start-bot.sh


[Install]
WantedBy=multi-user.target
